# Ignore all zip files
*.zip

# Ignore all files in Secrets folder, but keep the structure and two specific files
Secrets/*
!Secrets/SecretKEY.txt
!Secrets/ActivationCodes.txt

# Ignore all files in Sensordata folder, including subdirectories
Sensordata/**/*
Sensordata/*

# Keep the Sensordata folder
!Sensordata/!Sensordata/

# Ignore all files in MovementReports folder, including subdirectories
MovementReports/**/*
MovementReports/*

# Keep the MovementReports folder
!MovementReports/MovementReports/

# Ignore logs directory and its contents
logs/
logs/**

# Ignore Python cache files
__pycache__/
