# Ignorera alla zip-filer
*.zip

# Ignorera alla filer i Secrets-mappen, men behåll strukturen och två specifika filer
Secrets/*
!Secrets/SecretKEY.txt
!Secrets/ActivationCodes.txt
!Secrets/

# Ignorera alla filer i Sensordata-mappen, men behåll mappen
Sensordata/*
!Sensordata/

# Ignorera alla filer i MovementReports-mappen, men behåll mappen
MovementReports/*
!MovementReports/

# Ignorera Python-cachefiler
__pycache__/
